:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%); 
    --White: hsl(0, 0%, 100%);
}

body {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--Red);
}
main {
    padding: 1.2rem;
}


/* Text design. */
h1 {
    text-align: center;
    color: var(--White);
    font-weight: 600;
}
p {
    color: var(--White);
}
.intro-paragraph {
    text-align: center;
    opacity: 0.8;
}
.blue-pop {
    background-color: var(--Blue);
    padding: 0.5rem 0.8rem;
    margin: 3rem 0 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 15px 3px -7px rgba(0, 0, 0, 0.3);
}
.blue-paragraph {
    text-align: center;
    font-weight: 200;
}
.blue-span {
    font-weight: 700;
}


/* Mobile dedicated design */
@media (max-width: 28rem) {
    main {
        background-image: url(/images/bg-intro-mobile.png);
        background-repeat: no-repeat;
        background-position: top;
    }
    input[type=text] {
        border: 1px solid #b9b6d3;
        width: 75%;
        padding: 18px 35px;
        border-radius: 5px;
    }
    input[type=submit] {
        width: 100%;
        padding: 18px 35px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 0.2);
    }

    /* Text design */
    .blue-span {
        display: block;
    }
    .highlighted-consent {
        font-weight: 700;
        color: var(--Red);
    }
}

/* Form design */
.form-design {
    background-color: var(--White);
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0 13px 3px -5px rgba(0, 0, 0, 0.3);
}
input[type=text], input[type=submit] {
    margin: 8px 0;
}
input[type=text] {
    color: var(--DarkBlue);
    font-size: 1rem;
    font-weight: 700;
}
input[type=submit] {
    background-color: var(--Green);
    color: var(--White);
}
.consent-text {
    text-align: center;
}
.consent-paragraph {
    font-size: 12px;
    color: var(--GrayishBlue);
}